.header__logo {
  width: 175px;
  height: 32px;
  transition: opacity 0.7s linear;
}

.header__logo:hover {
  opacity: 0.5;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 104px;
    height: 24px;
  }
}
