.page__container {
  max-width: 1366px;
  min-width: 320px;
  min-height: calc(100vh - 76px - 76px);;
  padding-top: 22px;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .page__container {
    padding-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .page__container {
    padding-bottom: 36px;
  }
}
