.footer {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  color: #545454;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  height: 76px;
  background: #FAFAFA;
  width: 100%;
  max-width: 1366px;
}

/* @media screen and (max-width: 940px) {
  .footer {
    padding-left: 20px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-left: 15px;
    font-size: 14px;
    line-height: 17px;
    margin-top: -18px;
  }
} */